<form action="{{ url('app_admin_category_delete', { id: category.id }) }}" method="post" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette catégorie ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
</form>