body {
    background-color: #E3EBD0;
}

.navbar {
    background-color: #FBFBF1;
}

.navbarsup {
    background-color: #E3EBD0;
}

.imgFruit {
    height: 100px;
    width: 100px;
}

.vich-image img {
    height: 100px;
    width: 100px;
}