:root {
    --body-background:#E3EBD0;
    --nav-bg: #FBFBF1;
}

body {
    background-color: var(--body-background);
}

.navbar {
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    height: 100px;
    width: 100vw;
}

.navbarsup {
    background-color: #E3EBD0;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table-striped {
    --bs-table-bg: var(--body-background);
}
.table-striped {
    --bs-table-striped-bg: var(--nav-bg);
}

.card {
    background-color: var(--nav-bg);
}

.card-img-top {
    width: 100%;
}

.image {
    width: 50%;
}

.vich-image img {
    height: 100px;
    width: 100px;
}

.nav-search {
    display:flex;
    margin-left: 10%;
}

.logo {
    width: 50%;
}

.btn-color {
    color: #fff;
    background-color: #7DC2A5;
    border-color: #9FCDA8; /*set the color you want here*/
}
.btn-color:hover, .btn-color:focus, .btn-color:active, .btn-color.active, .open>.dropdown-toggle.btn-color {
    color: #fff;
    border-color: #7DC2A5;
    background-color: #9FCDA8;; /*set the color you want here*/
}

