:root {
    --body-background:#E3EBD0;
    --nav-bg: #FBFBF1;
}

body {
    background-color: var(--body-background);
    font-size: 16px;
}

.navbar {
    background-color: var(--nav-bg);
    min-height: 100px;
    width: 100vw;
}

.logo {
    max-height: 80px;
    width: auto;
}

.btn-wrap-text {
    white-space: normal;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table-striped {
    --bs-table-bg: var(--body-background);
}
.table-striped {
    --bs-table-striped-bg: var(--nav-bg);
}

.thead {
    background-color: darkblue;
}

.d-table-cell {
    text-align: center;
}

.card {
    background-color: var(--nav-bg);
}

.card-footer {
    background-color: var(--nav-bg);
}

.card-header {
    background-color: var(--body-background)
}


.card-img-top {
    width: 100%;
}

.carousel-caption {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    top: auto;
    color: black;
    background-color: #7dc2a5a9;
    border-radius: 10px;
    padding: 10px;
}

.carousel-item img {
    object-fit: cover; /* Ajuste l'image pour couvrir l'espace disponible, peut être changé en 'contain' pour s'assurer que toute l'image est visible */
}

.container-image {
    width: 100%; /* Prend toute la largeur du conteneur parent */
    height: auto; /* Hauteur fixe pour toutes les images */
}

.text-on-image {
    position: relative; /* Le conteneur de l'image devient un conteneur de positionnement */
}

.text-on-image img{
    width: 100%; /* Pour que l'image couvre la largeur du conteneur */
    height: auto; /* Ajuste la hauteur automatiquement pour conserver les proportions */
    object-fit: contain; /* Réduit la taille de l'image pour s'adapter au conteneur sans la rogner */
}

.text-on-image p, .text-on-image .voir-categorie {
    position: absolute; /* Positionne le texte absolument par rapport à son parent .text-on-image */
    bottom: 0; /* Positionne le texte en bas de l'image */
    left: 0; /* texte à gauche */
    color: black; /* Couleur du texte */
    padding: 10px; /* Espacement autour du texte */
}

.voir-categorie {
    top: 0; /* Pour positionner "Voir la catégorie" en haut */
}

.card-img-top1 {
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de la carte */
    height: auto; /* Maintient les proportions de l'image */
    display: block; /* Permet d'utiliser margin: auto pour centrer */
    margin: auto; /* Centre l'image horizontalement */
}

.card-custom {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body-custom {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-bottom {
    margin-top: auto;
}

.card-img-custom {
    width: 100%; /* Assure que l'image est pleine largeur */
    height: 200px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* Garde les proportions, coupe l'excédent */
}

.image {
    width: 50%;
}

.vich-image img {
    height: 100px;
    width: 100px;
}

.imgFruit {
    height: 40%;
    width: 40%;
    border-radius: 5%;
}

.btn-color {
    color: #fff;
    background-color: #7DC2A5;
    border-color: #9FCDA8;
}
.btn-color:hover, .btn-color:focus, .btn-color:active, .btn-color.active, .open>.dropdown-toggle.btn-color {
    color: #fff;
    border-color: #7DC2A5;
    background-color: #9FCDA8;
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.custom-input {
    background-color: white;
    color: black;
}

.icon-large {
    font-size: 1.5em;
}

.input-group-text .fas {
    width: 1em;
    text-align: center;
}

.single-line-label {
    white-space: nowrap;
}

.centrer-unique-producteur .row {
    justify-content: center;
}

.centrer-unique-producteur .col-12.col-md-4.col-sm-6.mb-4 {
    flex: 0 0 auto; /* Empêche le redimensionnement */
    max-width: none; /* Annule la largeur maximale par défaut */
}

.centrer-unique-produits .row{
    justify-content: center;
}

.centrer-unique-produits .col-12.col-md-4.col-sm-6.mb-4 {
    flex: 0 0 auto; /* Empêche le redimensionnement */
    max-width: none; /* Annule la largeur maximale par défaut */
}

@media (min-width: 992px){
    
    .w-lg-75-custom {
        width: 100% !important;
    }

    .w-lg-50-custom {
        width: 75% !important;
    }

    .w-lg-50-custom1 {
        width: 50% !important;
    }

    .w-lg-25-custom1 {
        width: 25% !important;
    }

}

@media (min-width: 572px) and (max-width: 991px) {
    .w-lg-75-custom, .w-lg-50-custom, .w-lg-50-custom1 {
      font-size: 16px; /* Augmenter la taille de la police pour les petits écrans */
    }

    .nav-item .nav-link {
        font-size: 18px;
    }

    .dropdown-item {
        font-size: 18px;
    }

    .offcanvas-title {  
      font-size: 35px; /* Augmenter la taille de la police pour les petits écrans */
    }

    .logo {
        width: 100%;
    }

    .breadcrumb, .filtitre {
        text-align: center; /* Centrer le texte horizontalement pour les petits écrans */
    }
    .breadcrumb {
        display: flex;
        align-items: center; /* Centrer les éléments de la liste verticalement */
        justify-content: center; /* Ajout pour centrer la liste horizontalement */
    }
    .content-header .row > div {
        margin: 0 auto; /* Assurez-vous que les divs sont centrés */
        flex-basis: 100%; /* Les divs prennent toute la largeur */
    }

    .filtitre {
        font-size: 40px;
    }

    .image {
        width: 20vw;
        max-width: 150px;
    }

    .btn-color {
        font-size: 16px;
    }

    .btn1 {
        width: 40%;
        font-size: 30px;
    }

    .btn2 {
        font-size: 20px;
    }

    .card-img-top {
        max-height: 100%;
        width: auto;
    }

    .carousel-caption {
        width: 50%; /* Augmente la largeur pour les petits écrans */
        font-size: 14px; /* Réduit la taille de la police pour les petits écrans */
    }

}

@media (min-width: 360px) and (max-width: 571px) {
    .w-lg-75-custom, .w-lg-50-custom, .w-lg-50-custom1 {font-size: 16px;
        /* Augmenter la taille de la police pour les petits écrans */
    }
    
    .dropdown-item {
        font-size: 18px;
    }

    .nav-item .nav-link {
        font-size: 18px;
    }
    
    .offcanvas-title {
        font-size: 35px;
        /* Augmenter la taille de la police pour les petits écrans */
    }
    
    .logo {
        width: 100%;
    }
    
    .breadcrumb,
    .filtitre {
        text-align: center;
        /* Centrer le texte horizontalement pour les petits écrans */
    }
    
    .breadcrumb {
        display: flex;
        align-items: center;
        /* Centrer les éléments de la liste verticalement */
        justify-content: center;
        /* Ajout pour centrer la liste horizontalement */
    }
    
    .content-header .row>div {
        margin: 0 auto;
        /* Assurez-vous que les divs sont centrés */
        flex-basis: 100%;
        /* Les divs prennent toute la largeur */
    }
    
    .filtitre {
        font-size: 40px;
    }
    
    .image {
        width: 20vw;
        max-width: 150px;
    }
    
    .btn-color {
        font-size: 16px;
    }
    
    .btn1 {
        width: 40%;
        font-size: 30px;
    }
    
    .btn2 {
        font-size: 20px;
    }
    
    .card-img-top {
        max-height: 100%;
        width: auto;
    }

    .carousel-caption {
        width: 89%; /* Augmente la largeur pour les petits écrans */
        font-size: 14px; /* Réduit la taille de la police pour les petits écrans */
    }
}  