{% extends './layout/base.html.twig' %}

{% block title %}
	Liste des catégories
	{{ parent() }}
{% endblock %}

{% block body %}
    {% for categorie in categories %}
        <a href="{{ path('app_categorie.details', {'id': categorie.id}) }}">{{ categorie.nom }}</a>
    {% endfor %}
{% endblock %}